// promo

.promo {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 94px;
		line-height: 97px;
	}
}

//about 

.about {

	max-width: 1280px;
	margin: 0 auto;

	&__content {
		
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 72px;
		line-height: 97px;
	}
}