// promo

.promo {

	&__title {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		@include Arsenal-Bold();
		font-size: 94px;
		line-height: 97px;
		margin-top: 90px;
	}

	&__slider {
		margin-top: 82px;
	}

	&__map {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		margin-top: 80px;
	}

	&__link {
		&:nth-child(2n) {
			padding-top: 30px;
		}
	}

	&__img {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 1023px) {

	.promo {

		&__title {
			font-size: 44px;
			line-height: 45px;
			margin-top: 40px;
		}

		&__slider {
			margin-top: 50px;

			& img {
				margin-bottom: 10px;
				padding: 0 10px;
			}
		}

		&__link {
			&:nth-child(3) {
				display: none;
			}
			&:nth-child(4) {
				display: none;
			}
		}
	}
}

//about 

.about {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 33px;
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 72px;
		line-height: 75px;
		margin-top: 87px;
	}

	&__text--wrap {
		width: 70%;
	}

	&__subtitle {
		@include Arsenal-Bold();
		font-size: 20px;
		line-height: 32px;
		margin-top: 13px;

		&--contacts {
			@include Arsenal-Regular();
		}
	}

	&__text {
		display: flex;
    	margin-top: 13px;
		font-size: 20px;
		line-height: 30px;
		padding-right: 10px;

		& span {
			@include Arsenal-Bold();
			font-size: 36px;
			line-height: 40px;
			margin-right: 222px;
			padding-bottom: 9px;
    		display: inline-block;
		}

		& p {
			margin-top: 10px;
    		padding-right: 30px;
		}

		&--link {
			text-decoration: underline;
			transition: .3s; 

    		&:hover {
    			color: #47a5ae;
    		}
		}

		&--viber {
			display: inline-block;
    		position: relative;
    		margin-left: 100px;
   		 	margin-top: 22px;

			&:before {
				content: '';
    			width: 52px;
    			position: absolute;
    			right: 53px;
    			height: 52px;
    			background: url(../img/header__viber.png);
    			background-repeat: no-repeat;
    			background-size: contain;
    			top: -10px;
			}
		}

		&--whatsapp {
			display: inline-block;
    		position: relative;
    		margin-left: 66px;
    		margin-top: 22px;

			&:before {
				content: '';
    			width: 52px;
    			position: absolute;
    			right: 94px;
    			height: 52px;
    			background: url(../img/header__whatsapp.png);
    			background-repeat: no-repeat;
    			background-size: contain;
    			top: -10px;
			}
		}

		&--telegram {
			display: inline-block;
    		position: relative;
    		margin-left: 102px;
    		margin-top: 22px;

			&:before {
				content: '';
    			width: 52px;
    			position: absolute;
    			right: 83px;
    			height: 52px;
    			background: url(../img/header__telegram.png);
    			background-repeat: no-repeat;
    			background-size: contain;
    			top: -10px;
			}
		}
	}

	&__slider--wrap {
		width: 27%;
		max-width: 270px;
	}

	&__slider {
		width: 270px;
	}
}

@media only screen and (max-width : 1023px) {

	.about {

		&__content {
			flex-direction: column;
			margin-top: 13px;
		}

		&__title {
			font-size: 50px;
			line-height: 52px;
			margin-top: 50px;
		}

		&__text {
			font-size: 18px;
			line-height: 28px;
			flex-direction: column;
			padding-right: 0;
			margin-top: 13px;

			&--wrap {
				width: 100%;
			}
		}

		&__slider--wrap {
			width: 100%;
			margin-top: 60px;
		}

		&__text--whatsapp {
			display: block;

			&:before {
				left: -65px;
			}
		}

		&__text--viber {
			display: block;
			margin-left: 66px;
    		margin-top: 32px;

			&:before {
				left: -65px;
			}
		}

		&__text--telegram {
			display: block;
			margin-left: 66px;
    		margin-top: 32px;

			&:before {
				left: -65px;
			}
		}
	}
}

// advantages

.advantages {
	margin-top: 145px;
	margin-bottom: 68px;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		display: flex;
    	justify-content: space-between;
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 48px;
		line-height: 48px;
		margin-top: 10px;
	}

	&__text {
		font-size: 20px;
		line-height: 28px;
		margin-top: 12px;
	}

	&__btn {
		display: inline-block;
    	background: #282828;
    	padding: 19px 34px;
    	margin-top: 28px;
    	color: #fff;
    	font-size: 20px;
    	line-height: 18px;
    	transition: .3s; 

    	&:hover {
    		background: #47a5ae;
    	}
	}

	&__block {
		margin-bottom: 64px;

		&--wrap {
			width: 46%;
			//max-width: 500px;
		}
	}

	&__subtitle {
		@include Arsenal-Bold();
		font-size: 36px;
		line-height: 38px;
		margin-top: 28px;
	}

	&__img {
		width: 100%;
		border-radius: 15px;
	}
}

@media only screen and (max-width : 1023px) {

	.advantages {
		margin-top: 60px;

		&__content {
			flex-direction: column;
		}

		&__title {
			font-size: 44px;
			line-height: 45px;
		}

		&__subtitle {
			font-size: 30px;
			line-height: 32px;
		}

		&__block {

			&--wrap {
				width: 100%;
			}
		}
	}
}

// profile

.profile {

	background-image: url(../img/profile-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		display: flex;
	}

	&__content > .profile__text--wrap {order: 2;}

	&__content > .profile__form--wrap {order: 1;}

	&__form--wrap {
		background: #fff;
		margin: 54px 60px 80px;
	}

	&__title {
		@include Arsenal-Bold();
		margin-top: 152px;
		font-size: 48px;
		line-height: 48px;
		color: #fff;
	}

	&__text {
		max-width: 360px;
		font-size: 20px;
		line-height: 28px;
		color: #fff;
		margin-top: 20px;
	}

	&__btn {
		display: inline-block;
    	background: #fff;
    	padding: 19px 34px;
    	margin-top: 28px;
    	color: #000;
    	font-size: 20px;
    	line-height: 18px;
    	transition: .3s; 

    	&:hover {
    		background: #47a5ae;
    	}
	}
}

@media only screen and (max-width : 1023px) {

	.profile {
		&__content {
			flex-direction: column;
			padding: 0;
		}

		&__content > .profile__text--wrap {order: 1;}

		&__content > .profile__form--wrap {order: 2;}

		&__title {
			font-size: 42px;
			line-height: 44px;
			margin-top: 52px;
		}

		&__text--wrap {
			padding: 0 10px;
		}

		&__form--wrap {
			margin: 60px 0;
		}
	}
}

// calculator

.calculator-gadget {
	max-width: 400px;
	padding: 52px 59px;
}

.calculator-gadget p {
	@include Arsenal-Bold();
	font-size: 17px;
	line-height: 19px;
	margin-bottom: 13px;
}

.calculator-gadget .calculator-sm {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-top: 14px;
}

.calculator-radio-block {
	display: flex;
	margin-bottom: 30px;
	border: 1px solid #e8e8e8;
	padding: 0;	
}

.calculator-radio-block-label {

	border: 1px solid #e8e8e8;
	padding: 8px 14px;
	width: 33.333333%;
	display: flex;
    justify-content: center;

	& input {
		display: none;
	}
}

.price-place {
	@include Arsenal-Bold();
	font-size: 72px;
	line-height: 74px;
}

@media only screen and (max-width : 1023px) {

	.calculator-gadget {
		padding: 40px 20px;
	}

	.price-place {
		font-size: 70px;
	}

}

// explore

.explore {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		padding-bottom: 77px;
		border-bottom: 1px solid #eaeaea;
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 72px;
		line-height: 74px;
		margin-top: 102px;
	}

	&__text {
		width: 80%;
		font-size: 20px;
		line-height: 32px;
		margin-top: 37px;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 22px;
		margin-top: 137px;
	}

	&__info {
		width: 80%;
		@include Arsenal-Bold();
		font-size: 48px;
		line-height: 48px;
	}

	&__link {
		text-decoration: underline;
    	transition: .3s; 

    	&:hover {
    		color: #47a5ae;
    	}
	}
}

@media only screen and (max-width : 1023px) {

	.explore {

		&__title {
			font-size: 50px;
			line-height: 52px;
			margin-top: 68px;
		}

		&__text {
			width: 100%;
			font-size: 18px;
			line-height: 28px;
		}

		&__subtitle {
			margin-top: 80px;
			font-size: 18px;
			line-height: 20px;
		}

		&__info {
			width: 100%;
			font-size: 44px;
			line-height: 45px;
		}
	}
}

// articles

.articles {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		display: flex;
		justify-content: flex-start;
		margin-top: 80px;
	}

	&__text--wrap {
		border-bottom: 1px solid #eaeaea;
		width: 33%;
		max-width: 330px;
		margin-right: 20px;
	}

	&__subtitle {
		font-size: 16px;
		line-height: 18px;
		color: #9b9b9b;
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 30px;
		line-height: 34px;
	}

	&__link {
		text-decoration: underline;
		transition: .3s; 

    	&:hover {
    		color: #47a5ae;
    	}
	}

	&__text {
		@include Arsenal-Bold();
		font-size: 18px;
		line-height: 20px;
		margin-top: 40px;
		margin-bottom: 44px;
	}
}

@media only screen and (max-width : 1023px) {

	.articles {

		&__content {
			flex-direction: column;
			margin-top: 0;
		}

		&__text--wrap {
			width: 100%;
			max-width: 100%;
		}

		&__title {
			font-size: 24px;
			line-height: 27px;
		}

		&__subtitle {
			margin-top: 40px;
		}
		
	}
}


// review

.review {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
		text-align: center;
	}

	&__title {
		@include Arsenal-Bold();
		font-size: 48px;
		line-height: 50px;
		margin-top: 94px;
	}

	&__text {
		font-size: 20px;
		line-height: 28px;
		margin-top: 25px;
	}

	&__block--wrap {
		display: flex;
		margin-top: 54px;
	}

	&__link {
		@include Arsenal-Bold();
		font-size: 36px;
		line-height: 40px;
		text-decoration: underline;
		transition: .3s;
		display: inline-block;
		margin-top: 11px;

    	&:hover {
    		color: #47a5ae;
    	}
	}
}

@media only screen and (max-width : 1023px) {

	.review {

		&__title {
			font-size: 44px;
			line-height: 45px;
			margin-top: 60px;
		}

		&__text {
			font-size: 18px;
			line-height: 25px;
		}

		&__block--wrap{
			flex-direction: column;
		}

		&__block {
			margin-bottom: 30px;
		}
	}
}

// gallery

.gallery {

	background: #282828;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		margin-top: 127px;
		padding: 89px 48px;
		text-align: center;
	}
}

@media only screen and (max-width : 1023px) {

	.gallery {
		&__content {
			padding: 40px 10px;
		}
	}
}

.fotorama__caption__wrap {
	@include Arsenal-Bold();
    font-size: 24px;
    line-height: 24px;
}

.active{
	color: #47a5ae;
}

.mb-110	{
	margin-bottom: 110px;
}

// form 

.form {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
	margin-top: 96px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 110px;
	margin-bottom: 81px;

	&__title {
		@include Arsenal-Bold();
		font-size: 36px;
		line-height: 40px;
	}

	&__content {
		margin-top: 39px;
		display: flex;
	}

	&--wrap {
		width: 82%;
	}

	&__text--wrap {
		width: 30%;
	}

	&__text {
		font-size: 20px;
		line-height: 28px;
    	margin-right: 10px;
	}
}

.form-part {
	& input[type="text"] {
		width: 89%;
		padding: 15px 20px;
    	margin-bottom: 35px;
	}

	& input[type="radio"] {
    	height: 14px;
    	margin: 0;
    	opacity: 0;
    	position: relative;
    	top: 0;
    	width: 14px;
	}

	& a {
		display: inline-block;
    	padding: 16px 30px;
    	border: 2px solid #47a5ae;
    	font-size: 17px;
    	transition: .3s;

    	&:hover {
    		opacity: .6;
    	}
	}

	& input[type="radio"]:checked + label {
    	background-image: url(../img/checked.png);
    	background-repeat: no-repeat;
    	margin-left: -8px;
    	background-position: left 0;
    	padding: 0px 0 0 26px;
	}

	& input[type="radio"] + label {
    	background-image: url(../img/checkbox.png);
    	background-position: left 0px;
    	background-repeat: no-repeat;
    	margin-left: -8px;
    	padding: 0px 0 0 26px;
	}

	& input[type="submit"] {
    	padding: 19px 29px;
    	cursor: pointer;
    	background-color: #282828;
    	color: #fff;
    	border: none;
    	transition: .3s;

    	&:hover {
    		background-color: #47a5ae;
    	}
	}
}

.input-wrapper {
	margin-top: 32px;
}

.button--wrap {
	display: flex;
	align-items: center;
}

.form-little {
	display: inline-block;
	margin-left: 12px;
	font-size: 12px;
	line-height: 14px;
}

.city-radio-block {
	margin-top: 28px;
    display: flex;
}

.p-r-r {
	display: flex;
	font-size: 20px;
	line-height: 22px;
	margin-right: 26px;
}

@media only screen and (max-width : 1023px) {

	.form {
		margin-top: 60px;
		padding-bottom: 60px;
		margin-bottom: 40px;

		&__content {
			flex-direction: column;
		}

		&--wrap {
			width: 100%;
		}

		&__text--wrap {
			width: 100%;
			margin-top: 30px;
		}
	}

	.form-part {
		& input[type="text"] {
			width: 100%;
		}

		& a {
			text-align: center;
			width: 100%;
			padding: 16px 21px;
		}

		& input[type="submit"] {
			width: 100%;
		}
	}

	.button--wrap {
		display: block;
	}

	.form-little {
		margin-top: 10px;
		margin-left: 0;
	}
}