// form 

.form {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
	margin-top: 96px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 110px;
	margin-bottom: 81px;

	&__title {
		@include Arsenal-Bold();
		font-size: 36px;
		line-height: 40px;
	}

	&__content {
		margin-top: 39px;
		display: flex;
	}

	&--wrap {
		width: 82%;
	}

	&__text--wrap {
		width: 30%;
	}

	&__text {
		font-size: 20px;
		line-height: 28px;
    	margin-right: 10px;
	}
}

.form-part {
	& input[type="text"] {
		width: 89%;
		padding: 15px 20px;
    	margin-bottom: 35px;
	}

	& input[type="radio"] {
    	height: 14px;
    	margin: 0;
    	opacity: 0;
    	position: relative;
    	top: 0;
    	width: 14px;
	}

	& a {
		display: inline-block;
    	padding: 16px 30px;
    	border: 2px solid #47a5ae;
    	font-size: 17px;
    	transition: .3s;

    	&:hover {
    		opacity: .6;
    	}
	}

	& input[type="radio"]:checked + label {
    	background-image: url(../img/checked.png);
    	background-repeat: no-repeat;
    	margin-left: -8px;
    	background-position: left 0;
    	padding: 0px 0 0 26px;
	}

	& input[type="radio"] + label {
    	background-image: url(../img/checkbox.png);
    	background-position: left 0px;
    	background-repeat: no-repeat;
    	margin-left: -8px;
    	padding: 0px 0 0 26px;
	}

	& input[type="submit"] {
    	padding: 19px 29px;
    	cursor: pointer;
    	background-color: #282828;
    	color: #fff;
    	border: none;
    	transition: .3s;

    	&:hover {
    		background-color: #47a5ae;
    	}
	}
}

.input-wrapper {
	margin-top: 32px;
}

.button--wrap {
	display: flex;
	align-items: center;
}

.form-little {
	display: inline-block;
	margin-left: 12px;
	font-size: 12px;
	line-height: 14px;
}

.city-radio-block {
	margin-top: 28px;
    display: flex;
}

.p-r-r {
	display: flex;
	font-size: 20px;
	line-height: 22px;
	margin-right: 26px;
}

@media only screen and (max-width : 1023px) {

	.form {
		margin-top: 60px;
		padding-bottom: 60px;
		margin-bottom: 40px;

		&__content {
			flex-direction: column;
		}

		&--wrap {
			width: 100%;
		}

		&__text--wrap {
			width: 100%;
			margin-top: 30px;
		}
	}

	.form-part {
		& input[type="text"] {
			width: 100%;
		}

		& a {
			text-align: center;
			width: 100%;
			padding: 16px 21px;
		}

		& input[type="submit"] {
			width: 100%;
		}
	}

	.button--wrap {
		display: block;
	}

	.form-little {
		margin-top: 10px;
		margin-left: 0;
	}
}