// header

.header {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
    	justify-content: space-between;
	}

	&__logo {
		width: 130px;
	}

	&__social {
		display: none;
	}

	&__phone {
		@include Arsenal-Bold();
	}
}

.menu {

	&__link {
		transition: .3s;

		&:hover {
			color: #47a5ae;
		}
	}
}


.menu-trigger {
	display: none;
	position: absolute;
    top: 40px;
    right: 20px;
    z-index: 999999;
    width: 35px;
    height: 35px;

    & span {
    	display: block;
    	position: absolute;
    	height: 4px;
    	width: 100%;
    	background: #000;
    	border-radius: 9px;
    	opacity: 1;
    	left: 0;
    	transform: rotate(0deg);
    	transition: .25s ease-in-out;
	}

	& span:nth-child(1) {
    	top: 0px;
	}

	& span:nth-child(2), span:nth-child(3) {
    	top: 10px;
	}

	span:nth-child(4) {
    	top: 20px;
	}
}

.menu_state_open {

	& span {
		background: #fff;
	}
	
	& span:nth-child(1) {
		top: 18px;
    	width: 0%;
    	left: 50%;
	}

	& span:nth-child(2) {
		transform: rotate(45deg);
	}

	& span:nth-child(3) {
		transform: rotate(-45deg);
	}

	& span:nth-child(4) {
		top: 18px;
    	width: 0%;
    	left: 50%;
	}
}

// media for header

@media only screen and (max-width : 1024px) {
	.header {

		&__social {
			display: flex;
		}
		
	}

	.menu {

		&__link {
			color: #fff;
			padding-bottom: 20px;

			&:hover {
				color: #f59206;
			}
		}
	}

	.ul-trigger {
		position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 8888;
    	width: 100%;
    	background: #0082cf;
    	height: 100vh;
    	padding: 40px 20px;
	}

	ul.menu {
		display: none;
	}

	.menu__item {
		display: block;
	}

	.menu-trigger {
		display: inline-block;
	}

}